.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 86vh;
    background-image: url("../assets/images/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

@media all and (max-width: 570px) {
    .home_container {
        display: block;
        height: auto;
    }
}
