.footer_container {
    width: 100vw;
    height: 5rem;
    background-color: rgb(29, 53, 54);
    color: rgb(136, 126, 126);
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: 0;
}

.link {
    color: rgb(165, 193, 218);
    text-decoration: none;
}
