.container {
    width: auto;
    height: auto;
    text-align: center;
}

.info_container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.container .vehicle_info .card_info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px;
}

.container .vehicle_info .card_info .first_info {
    width: 95%;
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    background-color: gainsboro;
}

.card_top {
    background-color: orangered;
    color: white;
    border-left: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: justify;
}

.container .vehicle_info .first_info {
    width: 60%;
    justify-content: space-evenly;
    display: flex;
}

.container .vehicle_info img {
    width: 25%;
}

.icon_info {
    display: flex;
    justify-self: center;
    align-items: center;
}

.info_container .map_image {
    width: 100%;
    height: 60vh;
}

.info_container .map_image img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 600px) {
    .info_container {
        display: block;
    }
    .container .vehicle_info .card_info {
        margin: 10px auto;
        width: 80%;
    }
    .info_container .map_image {
        width: 99%;
        margin: 0 auto;
        height: auto;
    }
}
